# Auto detect text files and perform LF normalization
* text=auto

# Flutter/Dart specific
*.dart text
*.h text
*.cc text
*.cpp text
*.cmake text
*.swift text
*.gradle text
*.json text
*.yaml text
*.xml text
*.html text
*.js text
*.css text
*.md text

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary 